<!DOCTYPE html>
<html>
<head>
<title>Practice</title>
</head>
  
<body>
    <h2>Homepage</h2>
    <p>Welcome! This is Homepage, {{ user.username }}!</p>

    <h2> Hello {{request.user.role}} </h2>
    {% if request.user.role == 'Teacher' %}
        <h2> Teacher Dashboard {{user.id}}</h2>
    {% else %}
        <h1> Student Dashboard </h1>
    {% endif %}

<a href= "{% url 'index' %}" class="btn"</a>
  <button>Index</button></a>
{% comment %} <a href="update/{{record.id}}" class="btn btn-warning" id = '{{record.id}}'>edit</a> {% endcomment %}
<a href= "{% url 'update' %}" class="btn" user_id = '{{user.id}}'</a>
<button>Update</button></a>

<a href= "{% url 'logout' %}" class="btn"</a>
    <button>Log Out</button>
</a>

</body>

</html>