{% block content %}
    <center>
    <h1 class="display-3" style="color:#0066cc;">Upload Data</h1>
    <form method='POST'>
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-warning">Update</button>
    </form>
    <a href= "{% url 'home' %}" class="btn"</a>
  <button>Back</button></a>
</center>
{% endblock %}



{% load static %}
<!doctype html>

<html class="no-js" lang="zxx">


<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="APPTON HTML5 Template is a simple Smooth Personal App Landing Template" />
    <meta name="keywords" content="App, Landing, Business, Onepage, Html, Business" />

    <!--====== TITLE TAG ======-->
    <title>Update Profile</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="{% static 'assest/img/favicon.png' %}" />

    <!--====== STYLESHEETS ======-->
    <link href="{% static 'assest/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'assest/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'assest/css/icons.css' %}" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="" rel="stylesheet">
    <link href="{% static 'assest/css/responsive.css' %}" rel="stylesheet">

    <script src="{% static 'assest/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
</head>
<style>

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

/*--------------------------
    1. SLIDER AREA
-----------------------------*/

.slide-bg-one {
    background: rgba(0, 0, 0, 0) url("{% static 'assest/img/slider/slide_1.jpg' %}") no-repeat scroll center center / cover;
}



.owl-controls {
    margin-top: -80px;
    position: absolute;
    right: 7%;
    top: 50%;
    opacity: 0;
    -webkit-transition: 100;
    transition: 100;
}




</style>
<body>


    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="{% static 'assest/img/logo.png' %}" alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                {% comment %} <li><a href="#courses">Courses</a></li> {% endcomment %}
                                <li><a href="{% url 'home' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>


        <!--WELCOME SLIDER AREA-->
        <div class="welcome-slider-area white font16">
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <div class="home-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <div class="home-button">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!--WELCOME SLIDER AREA END-->
    </header>
    <!--END TOP AREA-->

    <!--====== SCRIPTS JS ======-->
    <script src="{% static 'assest/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assest/js/vendor/bootstrap.min.js' %}"></script>

    <!--====== PLUGINS JS ======-->
    <script src="{% static 'assest/js/vendor/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'assest/js/vendor/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assest/js/vendor/jquery.appear.js' %}"></script>
    <script src="{% static 'assest/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assest/js/stellar.js' %}"></script>
    <script src="{% static 'assest/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assest/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assest/js/wow.min.js' %}"></script>
    <script src="{% static 'assest/js/jquery-modal-video.min.js' %}"></script>
    <script src="{% static 'assest/js/stellarnav.min.js' %}"></script>
    <script src="{% static 'assest/js/placeholdem.min.js' %}"></script>
    <script src="{% static 'assest/js/contact-form.js' %}"></script>
    <script src="{% static 'assest/js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'assest/js/jquery.sticky.js' %}"></script>

    <!--===== ACTIVE JS=====-->
    <script src="{% static 'assest/js/main.js' %}"></script>

    <!--===== MAPS JS=====-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&sensor=false"></script>
    <script src="{% static 'assest/js/maps.active.js' %}"></script>
</body>

</html>
